body{
  margin: 0;
  padding: 1% 5%;
  height: 98%;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-image: url(img/coffee.jpg);
  background-color:rgba(0,0,0,.6);
  background-color: #c7b39b;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}
.body{
  margin: 0 auto;
  padding: 30px;
  width: 70%;
  min-width: 300px;
  background-color: #ffffff;
  border-radius:10px;

}

.flexbox{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /**/
  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
  flex-wrap:wrap;
  /**/

}
.flexbox-row{
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
  flex-direction: row;
}



.flexbox-center-spacearound{
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /**/
  -webkit-justify-content: space-around;
  justify-content:space-around;
}
.flexbox-start-spacearound{
-webkit-box-align: start;
-ms-flex-align: start;
align-items: flex-start;
  /**/
  -webkit-justify-content: space-around;
  justify-content:space-around;
}
.flexbox-baseline-spacearound{
-webkit-box-align: baseline;
-ms-flex-align: baseline;
align-items: baseline;
  /**/
  -webkit-justify-content: space-around;
  justify-content:space-around;
}

.flexbox-start-center{
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
-webkit-box-pack:center;
    -ms-flex-pack:center;
        justify-content:center;
}
.flexbox-center-start{

        -webkit-box-align:center;

            -ms-flex-align:center;

                align-items:center;
        -webkit-box-pack:start;
            -ms-flex-pack:start;
                justify-content:flex-start;
}


.form_grey{
  background-color: #ccc;
  color: #000;
}

.col-width-1{
  width: -moz-calc(10% - 10px);
  width: -webkit-calc(10% - 10px);
  width: calc(10% - 10px);

}
.col-width-2{
  width: -moz-calc(20% - 10px);
  width: -webkit-calc(20% - 10px);
  width: calc(20% - 10px);
}
.col-width-3{
  width: -moz-calc(30% - 10px);
  width: -webkit-calc(30% - 10px);
  width: calc(30% - 10px);
}
.col-width-4{
  width: -moz-calc(40% - 10px);
  width: -webkit-calc(40% - 10px);
  width: calc(40% - 10px);
}
.col-width-5{
  width: -moz-calc(50% - 10px);
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
.col-width-6{
  width: -moz-calc(60% - 10px);
  width: -webkit-calc(60% - 10px);
  width: calc(60% - 10px);
}
.col-width-7{
  width: -moz-calc(70% - 10px);
  width: -webkit-calc(70% - 10px);
  width: calc(70% - 10px);
}
.col-width-8{
  width: -moz-calc(80% - 10px);
  width: -webkit-calc(80% - 10px);
  width: calc(80% - 10px);
}
.col-width-9{
  width: -moz-calc(90% - 10px);
  width: -webkit-calc(90% - 10px);
  width: calc(90% - 10px);
}
.col-width-10{
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
}


.button{
  border: 1px solid #eee;
  background-color: #eee;
  color: #111111;
  border-radius: 5px;
}





/* убрать после переноса */

.main{
  margin: 0 auto;
  padding: 0;
  text-align: center;

}


.main>H1{
  color: #FFA500;
}
.main h1:hover{
  text-shadow: 1px 1px 5px #ff00ff;
  color: #00FF00;
}

.table{
  -webkit-justify-content: space-around;
  justify-content:space-around;
/**/
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
  flex-direction: column;
  /**/
  background-color: #EEEEEE;
  width: 50%;
  min-width: 180px;
  margin: 0 auto;
}
.row{
  -webkit-justify-content:flex-start;
  justify-content: flex-start;
  /**/
  -webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
  align-items: flex-start;
  /**/
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
  flex-direction: row;
  /**/
  float: left;
  width: 100%;
}
.table>.row:nth-child(1n+3){
  background-color: #ffffff;
}
.table>.row:nth-child(2n+3){
  background-color: #ffffff;
}
.table>.row:nth-child(3n+3){
  background-color: #11ffff;
}
.row>div{
margin: 0;
min-width: 35px;
width: 20%;
border-bottom: 1px solid #ccc;
color: #000;
font-size: 2vmin;
}

.row>div:nth-child(2){
    min-width: 55px;
    width: 38%;
}
.table_input{
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color:#fff;

}
.input_to_table{
  margin-bottom: 5px;
  background-color:#fff !important;

}
.input_to_table>div{
  width: 50%;
  height: 100%;
  border-bottom: 1px solid #fff;
  background-color:#fff;
}
.input_to_table>div input{
  height: 100%;
  width: 100%;
}
.table_input_item:focus{
  background-color: #555;
  color: #fff;
}
#his1:target {
   background: #fc0; /* Цвет фона */
  }
#his2:target {
     background: #0cf; /* Цвет фона */
    }
.main_menu li::before{
  content: "\2693"
}
.main_menu li::after{
  content: "\2712"
}


.social{
  -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
  justify-content:center;
  /**/
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

}
.social>div{
  margin: 2px;
}
.social a{
    color: #068304;
}
.social a:active{
  color: #FFA500;
  text-shadow: -1px -1px 3px #f0ff0f;
}
